<body id="bg">
	<div class="pageWrapper">
		<div class="indexWrapper">
			<div class="brandWrapper">
				<div class="mainBrand">
					<h1 id="mdpBrand">MDP</h1>
					<h4 id="brandTag">Monica Dery Photography</h4>
				</div>
			</div>
			<div class="linkWrapper">
				<ul class="links">
					<li><a href="#"><span data-title="About">About</span></a></li>
					<li><a href="#"><span data-title="Recent">Recent</span></a></li>
					<li><a href="#"><span data-title="Archive">Archive</span></a></li>
					<li><a href="#"><span data-title="Bridge">Bridge</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</body>