.Vertical-Align(@position: relative) {
  position: @position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
}

.pageWrapper {
	height: 100%;
	width: 100%;
}

.indexWrapper {
	height: 100%;
	width: 100%;
}

.brandWrapper {
	height: 50%;
}

.mainBrand {
	.Vertical-Align;
}

#mdpBrand, #brandTag{
	text-align: center;
}

.linkWrapper {
	height: 50%;
	text-align: center;
}

.links {
	.Vertical-Align;
	list-style-type: none;
	padding: 0 0 0 0;
	li {
		width: 25%;
		text-align: center;
		display: inline-block;
		a {
			padding: 1em 2em 1em 2em;
			background-color: grey;
		}
	}
}